@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Arimo", sans-serif;
  --main-logo-font: "Tinos", serif;
  --secondary-logo-font: "Brygada 1918", serif;
  --yellow-color: #fff200;
  --green-color: #104849;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #ededed;
  --dark-blue-color: #0000ff;
  --green-color-opacity: rgba(16, 72, 73, 0.15);
}

/* Скидаємо верхні margin */
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Список без маркерів */
.list-no-marker {
  list-style: none;
  padding-left: 0px;
}

/* Посилання без підкреслень */
.link-no-decor {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  /* Готуємо підрозділ «Проєктні засади» для нового сайту «Сучасна шкільна бібліотека». Його головний зміст викладено в дописі керівника проекту Ю.Зражевського «Бібліотека в інформаційному забезпеченні школи». Пропонуємо повний текст документа. */
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  color: #000000;
}

.main-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  text-transform: uppercase;
  /* dark_blue */
  color: var(--dark-blue-color);
}

.title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.188;
  text-align: left;
  /* dark_blue */
  color: var(--dark-blue-color);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 420px) {
  .container {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1120px) {
  .container {
    width: 1120px;
  }
}

.header {
  background-color: #104849;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 420px) {
  .header {
    background-image: url(../images/header/bg-header_sm.jpg);
    background-image: -webkit-image-set(url(../images/header/bg-header_sm.webp) 1x);
  }
}
@media screen and (min-width: 420px) and (min-device-pixel-ratio: 2), screen and (min-width: 420px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 420px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 420px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 420px) and (min-resolution: 192dpi), screen and (min-width: 420px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header/bg-header_sm@2x.jpg);
    background-image: -webkit-image-set(url(../images/header/bg-header_sm@2x.webp) 2x);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(../images/header/bg-header_md.jpg);
    background-image: -webkit-image-set(url(../images/header/bg-header_md.webp) 1x);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header/bg-header_md@2x.jpg);
    background-image: -webkit-image-set(url(../images/header/bg-header_md@2x.webp) 2x);
  }
}
@media screen and (min-width: 1120px) {
  .header {
    background-image: url(../images/header/bg-header_lg.jpg);
    background-image: -webkit-image-set(url(../images/header/bg-header_lg.webp) 1x);
  }
}
@media screen and (min-width: 1120px) and (min-device-pixel-ratio: 2), screen and (min-width: 1120px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1120px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1120px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1120px) and (min-resolution: 192dpi), screen and (min-width: 1120px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header/bg-header_lg@2x.jpg);
    background-image: -webkit-image-set(url(../images/header/bg-header_lg@2x.webp) 2x);
  }
}
.header__content {
  /* Rectangle 3 */
  /* dark_green */
  padding: 18px 50px 20px 50px;
  background-repeat: no-repeat;
  background-position: left;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.logo__first-line {
  margin-left: 30px;
  font-family: var(--secondary-logo-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--yellow-color);
}
@media screen and (min-width: 420px) {
  .logo__first-line {
    /* Інноваційний проєкт */
  }
}
.logo__list {
  /* СУЧАСНА ШКІЛЬНА БІБЛІОТЕКА */
}
.logo__link {
  font-family: var(--main-logo-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  /* white */
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.logo__link--first-line {
  font-size: 24px;
  line-height: 1.167;
}
.logo__second-line {
  font-family: var(--main-logo-font);
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  /* yellow */
  color: var(--yellow-color);
  text-shadow: 0px 0px 8px #104849, 0px 0px 10px #104849, 0px 0px 14px #104849, 0px 0px 4px #104849, 0px 0px 4px #104849;
}

.nav {
  padding-top: 10px;
  padding-bottom: 20px;
}
.nav__vraper {
  /* Rectangle 1 */
  background: linear-gradient(180deg, #568e8f 0%, #b4d2d4 40%);
  /* Header desktop */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav__list {
  display: flex;
  justify-content: center;
}
.nav__item:not(:last-child) {
  border-right: solid 1px var(--white-color);
}
.nav__link {
  display: block;
  padding: 10px 21px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  /* dark_green */
  color: var(--green-color);
}
.nav__link--active {
  background-color: var(--green-color-opacity);
  font-weight: 500;
}
.nav__link:hover, .nav__link:focus {
  background-color: var(--green-color-opacity);
  font-weight: 500;
}

.newOnSite {
  padding: 40px 10px 9px 10px;
  margin-bottom: 20px;
  background-image: url(../images/main/top_lg.jpg);
  background-repeat: no-repeat;
}
.newOnSite__title {
  /* Нове на сайті */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.12em;
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.newContent {
  width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.newContent__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.newContent__item--head-appoint {
  /* Директорам шкіл, шкільним бібліотекарям */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* blue */
  color: #0099ff;
}
.newContent__item--head-date {
  /* 12.02.2025 */
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* grey */
  color: #6e6e6e;
}
.newContent__img {
  width: 500px;
  margin: 0 auto 20px auto;
}
.newContent__title {
  margin-bottom: 10px;
  /* Бібліотека в інформаційному забезпеченні школи */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* dark_blue */
  color: #0000ff;
}
.newContent__content {
  text-indent: 2.5em;
}

.content {
  padding: 20px 0 10px 0;
  width: 806px;
}
.content__paragraph {
  margin-bottom: 10px;
  text-indent: 2.5em;
}
.content__list {
  padding-left: 280px;
}
.content__item:last-child {
  margin-bottom: 10px;
}
.content__img {
  margin-right: 40px;
  margin-bottom: 20px;
  float: left;
  width: 200px;
}

.footer {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--gray-color);
}
.footer__content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;
  /* identical to box height */
  text-align: center;
  /* dark_green */
  color: var(--green-color);
}/*# sourceMappingURL=main.css.map */