.newOnSite {
  margin-bottom: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/main/top_lg.jpg);

  @include mq(mobile) {
    padding: 25px 10px 7px 10px;
    background-image: url(../images/main/top_sm.jpg);
    background-image: -webkit-image-set(url(../images/main/top_sm.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/main/top_sm@2x.jpg);
      background-image: -webkit-image-set(
        url(../images/main/top_sm@2x.webp) 2x
      );
    }
  }

  @include mq(tablet) {
    padding: 38px 10px 7px 10px;
    background-image: url(../images/main/top_md.jpg);
    background-image: -webkit-image-set(url(../images/main/top_md.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/main/top_md@2x.jpg);
      background-image: -webkit-image-set(
        url(../images/main/top_md@2x.webp) 2x
      );
    }
  }

  @include mq(desktop) {
    padding: 40px 10px 9px 10px;
    background-image: url(../images/main/top_lg.jpg);
    background-image: -webkit-image-set(url(../images/main/top_lg.webp) 1x);
    @include mq(retina) {
      background-image: url(../images/main/top_lg@2x.jpg);
      background-image: -webkit-image-set(
        url(../images/main/top_lg@2x.webp) 2x
      );
    }
  }

  &__title {
    /* Нове на сайті */

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.12em;

    color: #ffffff;

    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  }
}
.newContent {
  width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &--head {
    }
  }

  &__item {
    &--head {
    }
    &--head-appoint {
      /* Директорам шкіл, шкільним бібліотекарям */

      font-family: "Roboto";
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      /* blue */
      color: #0099ff;
    }
    &--head-date {
      /* 12.02.2025 */

      font-family: "Roboto";
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;

      /* grey */
      color: #6e6e6e;
    }
  }

  &__img {
    width: 500px;
    margin: 0 auto 20px auto;
  }

  &__title {
    margin-bottom: 10px;
    /* Бібліотека в інформаційному забезпеченні школи */

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    /* dark_blue */
    color: #0000ff;
  }

  &__content {
    text-indent: 2.5em;
  }
}
