.logo {
  display: flex;
  justify-content: space-between;
  align-items: end;
  &__content-left {
  }
  &__first-line {
    margin-left: 30px;
    font-family: var(--secondary-logo-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: var(--yellow-color);
    @include mq(mobile) {
      /* Інноваційний проєкт */

      // background-image: url(../images/header/bg-header_sm.jpg);
      //   background-image: -webkit-image-set(url(../images/header/bg-header_sm.webp) 1x);
      @include mq(retina) {
        // background-image: url(../images/header/bg-header_sm@2x.jpg);
        //   background-image: -webkit-image-set(url(../images/header/bg-header_sm@2x.webp) 2x);
      }
    }
  }
  &__list {
    /* СУЧАСНА ШКІЛЬНА БІБЛІОТЕКА */
  }
  &__item {
  }
  &__link {
    font-family: var(--main-logo-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    /* white */
    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    &--first-line {
      font-size: 24px;
      line-height: 1.167;
    }
  }

  &__second-line {
    font-family: var(--main-logo-font);
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.33;

    /* yellow */
    color: var(--yellow-color);

    text-shadow: 0px 0px 8px #104849, 0px 0px 10px #104849, 0px 0px 14px #104849,
      0px 0px 4px #104849, 0px 0px 4px #104849;
  }
}
