:root {
  // Шрифти
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Arimo", sans-serif;
  --main-logo-font: "Tinos", serif;
  --secondary-logo-font: "Brygada 1918", serif;

  // Кольори тексту
  --yellow-color: #fff200;
  --green-color: #104849;
}
