@import "./reset";

body {
  /* Готуємо підрозділ «Проєктні засади» для нового сайту «Сучасна шкільна бібліотека». Його головний зміст викладено в дописі керівника проекту Ю.Зражевського «Бібліотека в інформаційному забезпеченні школи». Пропонуємо повний текст документа. */

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;

  color: #000000;
}

.main-title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  text-transform: uppercase;

  /* dark_blue */
  color: var(--dark-blue-color);
}

.title {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.188;
  text-align: left;

  /* dark_blue */
  color: var(--dark-blue-color);
}
