@import "./reset";

body {
  /* Готуємо підрозділ «Проєктні засади» для нового сайту «Сучасна шкільна бібліотека». Його головний зміст викладено в дописі керівника проекту Ю.Зражевського «Бібліотека в інформаційному забезпеченні школи». Пропонуємо повний текст документа. */

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;

  color: #000000;
}
